<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Funnel Calculator</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFunnels" aria-expanded="true" aria-controls="collapseFunnels">
        <i class="fas fa-fw fa-cog"></i>
        <span>Funnels</span>
      </a>
      <div id="collapseFunnels" class="collapse" aria-labelledby="headingFunnels" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Funnel Editor:</h6>
          <a class="collapse-item" href="{{ url_for('funnels.funnel_creator') }}">Create Funnel</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCosts" aria-expanded="true" aria-controls="collapseCosts">
        <i class="fas fa-fw fa-cog"></i>
        <span>Profit/Cost Analytics</span>
      </a>
      <div id="collapseCosts" class="collapse" aria-labelledby="headingCosts" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Adjust Costs:</h6>
          <a class="collapse-item" href="/costs">Modify Costs</a>
        </div>
      </div>
    </li>
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Settings
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>User settings</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Settings:</h6>
          <a class="collapse-item" href="/password-reset">Reset Password</a>
          <a class="collapse-item" href="/manage/users">Create New User</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Logouts
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Logout</span></a>
    </li>-->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->